<form class="app-form create-bde-form">
    <h2>Création d'un BDE</h2>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Ville du BDE</mat-label>
        <input type="text" matInput required [(ngModel)]="bdeName" name="name" #name="ngModel">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            Requis.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Email pour le compte administrateur</mat-label>
        <input type="email" matInput required [(ngModel)]="ownerEmail" name="ownerEmail" #email="ngModel">
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            Requis.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Token d'autorisation</mat-label>
        <input type="text" matInput minlength="1" [(ngModel)]="token" name="token" #tokenField="ngModel">
        <mat-error *ngIf="tokenField.invalid && (tokenField.dirty || tokenField.touched)">
            Requis.
        </mat-error>
    </mat-form-field>

    <h3>Spécialités :</h3>

    <div class="specialties-list" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListLockAxis="y" [class.empty]="specialties.length === 0">
        <div class="no-items-indicator" *ngIf="specialties.length === 0">
            Aucune spécialité
        </div>
        <div class="specialty-list-item" cdkDrag *ngFor="let spe of specialties">
            <div cdkDragHandle>
                {{spe.name}} ({{spe.minYear}}A à {{spe.maxYear}}A)
            </div>
            <button mat-icon-button color="warn" (click)="deleteSpecialty(spe.name)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    
    <button mat-stroked-button (click)="openSpecialtyDialog()">Ajouter une spécialité</button>

    <button 
        mat-flat-button 
        color="primary" 
        (click)="sendCreationRequest()" 
        [disabled]="specialties.length == 0 || email.invalid || bdeName.trim().length === 0 || sending"
    >{{ sending ? 'Envoi en cours ...' : 'Créer le BDE' }}</button>

    <div *ngIf="error || success" [class]="error ? 'error' : 'success'">{{ error || success}}</div>
</form>