.login-form mat-form-field {
    width: 100%;
}

.login-form mat-list-item {

    &:nth-child(1), &:nth-child(2) {
        margin-top: 1.5em;
    }
}

.login-form h2.mat-subheader {
    padding-left: 0;
}

.error {
    color: red;
}