<div class="title-container">
    <h1 class="title">Voter pour le BDE 2021/2022</h1>
    <h2 *ngIf="voted === null">Pour qui voulez-vous voter ?</h2>
    <h2 class="green" *ngIf="voted !== null">
        Vous avez voté {{ votedFormatted }}
    </h2>
</div>
<div class="votes">
    <img (click)="vote('allintech')" [class.voted]="voted === 'allintech'" class="half-width mask" src="/assets/img/allintech-groupe.jpg" />
    <img (click)="vote('toutankhatech')" [class.voted]="voted === 'toutankhatech'" class="half-width mask" src="/assets/img/toutankhatech-groupe.png" />
</div>
<div class="mask no-vote" [class.voted]="voted === 'blanc'" (click)="vote('blan')">
    <p>

        Vote blanc
    </p>
    <mat-icon *ngIf="voted === 'blanc'">check_circle_outline</mat-icon>
    <mat-icon *ngIf="voted !== 'blanc'">highlight_off</mat-icon>
</div>