<form class="app-form create-bde-form" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListLockAxis="y">
    <h2>Création d'un BDE</h2>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Ville du BDE</mat-label>
        <input type="text" matInput required [(ngModel)]="bdeName" name="name" #name="ngModel">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            Requis.
        </mat-error>
    </mat-form-field>

    <h3>Spécialités :</h3>

    <button mat-stroked-button (click)="openSpecialtyDialog()">Ajouter une spécialité</button>
    
    <div class="specialty-list-item" cdkDrag *ngFor="let spe of specialties">
        <div cdkDragHandle>
            {{spe.name}} ({{spe.minYear}}A à {{spe.maxYear}}A)
        </div>
        <button mat-icon-button color="warn" (click)="deleteSpecialty(spe.name)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <h2 mat-subheader *ngIf="error || success" [class]="error ? 'error' : 'success'">{{ error || success}}</h2>

    <button 
        mat-flat-button 
        color="primary" 
        (click)="sendCreationRequest()" 
        [disabled]="bdeName.trim().length === 0 || sending"
    >{{ sending ? 'Envoi en cours ...' : 'Créer le BDE' }}</button> 
</form>