.create-user-form mat-form-field {
    width: 100%;
}

.create-user-form mat-list-item {

    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        margin-top: 1.5em;
    }

}

.error {
    color: red;
}

.success {
    color: green;
}