<h1>Nos partenaires</h1>

<div class="partners">
    <mat-card class="partner-card">
        <mat-card-header>
            <div mat-card-avatar class="dominos-logo"></div>
            <mat-card-title>Dominos pizza</mat-card-title>
            <mat-card-subtitle>
                Pour les adhérents, sur présentation la carte étudiante, uniquement à emporter,
                hors gamme "signature". Insister si nécessaire car des serveurs ne sont pas au courant.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>Pizzas bon plans 
                    <ul>
                        <li>Medium 5€</li>
                        <li>Large 7.99€</li>
                        <li>XL 10.50€</li>
                    </ul>
                </li>
                <li>Pizzas "incontournables" / "supremes"
                    <ul>
                        <li>Medium 6€</li>
                        <li>Large 7.99€</li>
                        <li>XL 10.50€</li>
                    </ul>
                </li>
                <li>Livraison 2 pizzas + une boisson (grande bouteille) = 20€</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="partner-card">
        <mat-card-header>
            <div mat-card-avatar class="bockale-logo"></div>
            <mat-card-title>Les Bockale</mat-card-title>
            <mat-card-subtitle>Offres valables tous les jours hors week-end</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>Poutine à 6.50€ (au lieu de 8€)</li>
                <li>Plateau des potos à 30€ (au lieu de 38€)</li>
                <li>Tarif sur la bière artisanale : 4.50€ la pinte (au lieu de 6€)</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>