<form class="app-form">
    <h2>Liste des utilisateurs</h2>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Recherche</mat-label>
        <input type="text" matInput name="search" id="searchBar">
    </mat-form-field>

    <mat-paginator
        [length]="usersCount"
        [pageSize]="pageSize.value"
        [pageSizeOptions]="[1, 50, 100, 300, 500]"
        (page)="onPageChange($event)"
    >
    </mat-paginator>

</form>

<table mat-table [dataSource]="users">
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let user">{{ user.firstname }}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let user">{{ user.lastname }}</td>
    </ng-container>

    <ng-container matColumnDef="specialty">
        <th mat-header-cell *matHeaderCellDef>Spécialité</th>
        <td mat-cell *matCellDef="let user">{{ user.specialtyName + user.specialtyYear }}</td>
    </ng-container>

    <ng-container matColumnDef="member">
        <th mat-header-cell *matHeaderCellDef>Adhérent</th>
        <td mat-cell *matCellDef="let user">
            <mat-icon style="color: green" *ngIf="user.member">check_circle</mat-icon>
            <mat-icon style="color: red" *ngIf="!user.member">cancel</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="permissions">
        <th mat-header-cell *matHeaderCellDef>Permissions</th>
        <td mat-cell *matCellDef="let user">{{ formatPermission(user.permissions) }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let user">
            <a mat-raised-button routerLink="/" color="primary">
                <ng-container *ngIf="!ipadLandQuery.matches">
                    Consulter le profil
                </ng-container>
                <ng-container *ngIf="ipadLandQuery.matches">
                    <mat-icon>person</mat-icon>
                </ng-container>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let user; columns: columnsToDisplay"></tr>
</table>