<form class="app-form" [formGroup]="createEventForm">
    <h2>Créer un événement</h2>

    <!--mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>BDE</mat-label>
        <mat-select required formControlName="bde" name="bde">
            <mat-option *ngFor="let bde of bdes" [value]="bde.uuid">
                {{bde.name}}
                </mat-option>
        </mat-select>
        <mat-hint class="error" *ngIf="bde.invalid && (bde.dirty || bde.touched)">Requis.</mat-hint>
    </mat-form-field-->

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Nom de l'événement</mat-label>
        <input type="text" matInput required formControlName="name" name="name">
        <mat-hint class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
            {{ name.errors.required ? 'Requis.' : 'Le nom ne doit pas dépasser 200 caractères.' }}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Date d'ouverture des réservations <i>(optionnelle)</i></mat-label>
        <input type="datetime-local" matInput formControlName="bookingStart" name="bookingStart" placeholder="jj/mm/aaaa hh:mm">
        <mat-hint class="error" *ngIf="bookingStart.invalid && (bookingStart.dirty || bookingStart.touched)">
            Date invalide.
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Date de fermeture des réservations <i>(optionnelle)</i></mat-label>
        <input type="datetime-local" matInput formControlName="bookingEnd" name="bookingEnd" placeholder="jj/mm/aaaa hh:mm">
        <mat-hint class="error" *ngIf="bookingEnd.invalid && (bookingEnd.dirty || bookingEnd.touched)">
            Date invalide.
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Date de l'événement <i>(optionnelle)</i></mat-label>
        <input type="datetime-local" matInput formControlName="eventDate" name="eventDate" placeholder="jj/mm/aaaa hh:mm">
        <mat-hint class="error" *ngIf="eventDate.invalid && (eventDate.dirty || eventDate.touched)">
            Date invalide.
        </mat-hint>
    </mat-form-field>

    <mat-checkbox formControlName="isDraft" name="isDraft">Draft</mat-checkbox>

    <button 
        mat-flat-button
        color="primary" 
        [disabled]="sending || createEventForm.invalid"
        (click)="createEvent()"
    >{{ sending ? 'Envoie en cours ...' : 'Créer l\'événement' }}</button>

    <div *ngIf="error" class="error">{{ error }}</div>
</form>