<form [formGroup]="confirmForm" class="app-form" (ngSubmit)="finishRegitration()">

    <div class="title-container">
        <h2>Finalisation de votre inscription</h2>
        <h3 *ngIf="bde.bdeName.length">BDE de {{bde.bdeName}}</h3>
        <h3 *ngIf="!bde.bdeName">BDE</h3>
    </div>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Email</mat-label>
        <input type="email" matInput required formControlName="email" name="email" disabled>
    </mat-form-field>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Prénom</mat-label>
        <input matInput required formControlName="firstname" name="firstname" minlength="2" maxlength="15">
        <mat-hint class="error" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
            {{ firstname.errors.required ? 'Requis.' : 'Le prénom doit faire entre 2 et 15 caractères.' }}
        </mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Nom de famille</mat-label>
        <input matInput required formControlName="lastname" name="lastname" minlength="2" maxlength="15">
        <mat-hint class="error" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
            {{ lastname.errors.required ? 'Requis.' : 'Le nom de famille doit faire entre 2 et 15 caractères.' }}
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Spécialité</mat-label>
        <mat-select required formControlName="specialty">
            <mat-option *ngFor="let specialty of bde.specialties.sort()" [value]="specialty.name">
                {{specialty.name}}
                </mat-option>
        </mat-select>
        <mat-hint class="error" *ngIf="specialty.invalid && (specialty.dirty || specialty.touched)">
            Requis.
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Année</mat-label>
        <mat-select required formControlName="year">
            <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
            </mat-option>
        </mat-select>
        <mat-hint class="error" *ngIf="year.invalid && (year.dirty || year.touched)">
            Requis.
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput required formControlName="password" name="password" minlength="10">
        <mat-hint class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
            {{ password.errors.required ? 'Requis.' : 'Le mot de passe doit faire au moins 10 caractères.' }}
        </mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="fill" hideRequiredMarker="true">
        <mat-label>Confirmation du mot de passe</mat-label>
        <input type="password" matInput required formControlName="passwordConfirm" name="passwordConfirm">
        <mat-hint class="error" *ngIf="(passwordConfirm.invalid || confirmForm.errors?.passMatch) && (passwordConfirm.dirty || passwordConfirm.touched)">
            {{ passwordConfirm.errors?.required ? 'Requis.' : 'Les mots de passe ne correspondent pas.' }}
        </mat-hint>
    </mat-form-field>

    <button [disabled]="submitting || !confirmForm.valid" type="submit" mat-flat-button color="primary">
        {{submitting ? 'Envoie en cours ...' : 'Finaliser l\'inscription'}}
    </button>

    <div *ngIf="error" class="error">{{ error }}</div>
</form>