/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 80%;
    position: relative;
    left: 10%;
    top: 2em;
    height: 100%;
}

.app-form {
    display: flex;
    flex-direction: column;
}

.app-form > button {
    margin-bottom: 1.34375em;
}

.app-form mat-form-field {
    margin-bottom: 5px; /* Allow mat-hint to fit correctly between fields */
}

.app-form .error {
    color: red;
}

.app-form .success {
    color: green;
}

.app-form > div.error {
    text-align: center;
}

.app-form > div.success {
    text-align: center;
}