/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 80%;
    position: relative;
    left: 10%;
    top: 2em;
    height: 100%;
}

.app-form {
    display: flex;
    flex-direction: column;
}

.app-form > button {
    margin-bottom: 1.34375em;
}